<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Programa de Betas Internas</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body bgcolor="#FFFFFF" link="#00c7d6" vlink="#00c7d6">

<style>
    form label {
        font-size: 70%;
    }

    form input, form textarea {
        margin-bottom: 10px;
    }
</style>

<table  width="600" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#025c83" align="center">
      				<tr>
        				<td height="2" width="600" align="left"></td>
						  </tr>
						</table>
					</td>
				</tr>
                         
<tr>
	<td>
		<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
							<tr>
                <td width="600" height="20"><img src="/static/img/cabecera.jpg" width="600" height="75" alt="cabecera" /></td>
							</tr>
		</table>
	</td>
</tr>  
<tr>
	<td>
		<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
							<tr>
                <td width="600" height="250"><img src="/static/img/img.jpg" width="600" height="250" alt="Foto APPS" /></td>
							</tr>
		</table>
	</td>
</tr> 

<tr>
	<td>
		<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
							<tr>
                <td width="600" height="20"></td>
							</tr>
		</table>
	</td>
</tr>
      
            	<tr>
					<td>
						<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
							<tr>
								<td width="20" height="110" align="left">&nbsp;</td>
										<td height="110" width="440" align="left">
                                        
											<table width="560" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td width="auto" height="auto"  align="left" valign="middle" ><font face="Verdana, Geneva, sans-serif" style="font-size:33px;color:#025c83;">¡Gracias por apuntarte!</font></td>
										</tr>
                                        <tr>
											<td width="auto" height="auto"  align="left" valign="middle" ><font face="Verdana, Geneva, sans-serif" style="font-size:33px;color:#33AA70;">be more beta-tester_</font></td>
										</tr>
                                        
                                        

									
                                    
                                    
                                    </table>
                                    
                                    
                                    
								</td>
								<td width="20" height="110" align="left"></td>
							</tr>
                            
                            
						</table>
					</td>
				</tr> 

      
<tr>
	<td>
		<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
							<tr>
                <td width="600" height="20"></td>
							</tr>
                           
                    
                            
		</table>
	</td>
</tr>  

            	<tr>
					<td>
					  <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
							<tr>
								<td width="20" height="110" align="left">&nbsp;</td>
										<td height="110" width="440" align="left">
                                        
											<table width="560" border="0" align="center" cellpadding="0" cellspacing="0">
									
                                        
                                        
										<tr>
											<td width="auto" height="20" valign="top"></td>
										</tr>

                                        
                                        <tr>
											<td width="auto" height="10" valign="top"></td>
										</tr>
                                        

                                        
                                         <tr>
											<td width="auto" height="10" valign="top"></td>
										</tr>
                                        

                                        
                                           <tr>
											<td width="auto" height="10" valign="top"></td>
										</tr>
                                        

                                        
                                      
                                        
                                        <tr>
											<td width="auto" height="20" valign="top">&nbsp;</td>
										</tr>
									
                                    
                                    
                                    </table>
                                    
                                    
                                    
								</td>
								<td width="20" height="110" align="left"></td>
							</tr>
                            
                            
						</table>


					</td>
				</tr>

</table>


</body>
</html>